.Button-yellow {	
	background-color: Yellow; 
	border: none; 
	height:100px; 
	width: 1350px;
}
.button-aqua {
	background-color: aqua; 
	border: none; 
	height:100px; 
	width: 1350px;  
	text-decoration: none;
}
.button-white {
	background-color: white; 
	border: none; 
	height:100px; 
	width: 1350px;  
	text-decoration: none;
}
.button-blue {
   	background-color: blue; 
	border: none; 
	height:100px; 
	width: 1350px;  
    text-decoration: none
}
.button-lime {
	background-color: lime; 
	border: none; 
	height:100px; 
	width: 1350px;  
    text-decoration: none
}
.button-darkgreen {
	background-color: darkgreen; 
	border: none; 
	height:100px; 
	width: 1350px;  
    text-decoration: none
}
.button-red { 
    background-color: red; 
	border: none; 
	height:100px; 
	width: 1350px;  
    text-decoration: none
}
.color-text-aqua {
	color:aqua
}
.color-text-lime {
	color:lime
}